<div class="container">
  <p>Games scraped: <%= @game_count %></p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Country</th>
      <th>Tournament</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Score</th>
      <th>Time</th>
      <th>Timer</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |g| %>
      <tr>
        <td><%= g.created_at.strftime("%d %b. %Y") %></td>
        <td><%= g.country %></td>
        <td><%= g.tournament %></td>
        <td><%= g.home_team %></td>
        <td><%= g.away_team %></td>
        <td><%= g.home_score %> - <%= g.away_score %></td>
        <td><%= g.time %></td>
        <td><%= g.timer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

